header {
    background-color: black;
    color: white;
    font-family: "Tangerine", sans-serif;
}

body {
    background-image: url(../assets/bill_of_rights.jpg);
}

#inputs {
    display: grid;
    grid-template-rows: ;
    width: 20%;
    grid-gap: 10px;
    margin: auto;
}

.hidden {
    display:none;
}

